NODE_ENV=
PORT=
DATABASE_URL=
APP_SECRET=
# gmail (interim) | zeptomail
EMAIL_PROVIDER=gmail
SMTP_GMAIL_USER=
SMTP_GMAIL_PASSWORD=
ZEPTOMAIL_HOST=smtp.zeptomail.com
ZEPTOMAIL_TOKEN=
EMAIL_FROM=
REDIS_URL=
DVP_BASE_URL=https://dvp.akwaibom.tech/api
DVP_SECRET_KEY=
DVP_PROGRAM_ID=
MESSAGES_NOTIFY_EMAIL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Optional
DB_POOL_MAX=5
DB_SYNC_ALTER=false
